<%= form_for(@nomination) do |f| %>
  <% if @nomination.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nomination.errors.count, "error") %> prohibited this nomination from being saved:</h2>

      <ul>
      <% @nomination.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :candidate_id %><br>
    <%= f.text_field :candidate_id %>
  </div>
  <div class="field">
    <%= f.label :seat_id %><br>
    <%= f.text_field :seat_id %>
  </div>
  <div class="field">
    <%= f.label :party_id %><br>
    <%= f.text_field :party_id %>
  </div>
  <div class="field">
    <%= f.label :year %><br>
    <%= f.number_field :year %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
